{
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jquery": true
  },
  "extends": [
    "airbnb"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "rules": {
    "arrow-body-style": [
      2,
      "as-needed"
    ],
    "arrow-parens": [
      2,
      "always"
    ],
    "jsx-a11y/anchor-is-valid": [
      1,
      {
        "components": [
          "Link"
        ],
        "specialLink": [
          "to"
        ]
      }
    ],
    "lines-between-class-members": [
      2,
      "always",
      {
        "exceptAfterSingleLine": true
      }
    ],
    "no-console": 1,
    "no-unused-vars": [
      1,
      {
        "argsIgnorePattern": "res|next|^err"
      }
    ],
    "no-useless-constructor": 1,
    "quotes": [
      1,
      "single",
      {
        "allowTemplateLiterals": true
      }
    ],
    "react/forbid-prop-types": 1,
    "react/jsx-filename-extension": 0,
    "react/jsx-one-expression-per-line": [
      1,
      {
        "allow": "single-child"
      }
    ],
    "react/prefer-stateless-function": 1,
    "react/prop-types": 1
  },
  "plugins": [
    "html",
    "jsx-a11y",
    "react"
  ]
}