{
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jquery": true
  },
  "extends": "airbnb",
  "rules": {
    "arrow-body-style": 1,
    "arrow-parens": 0,
    "jsx-a11y/anchor-is-valid": [
      1,
      {
        "components": [
          "Link"
        ],
        "specialLink": [
          "to"
        ]
      }
    ],
    "no-console": 1,
    "no-unused-vars": [
      1,
      {
        "argsIgnorePattern": "res|next|^err"
      }
    ],
    "no-useless-constructor": 1,
    "quotes": [
      1,
      "single",
      {
        "allowTemplateLiterals": true
      }
    ],
    "react/forbid-prop-types": 1,
    "react/jsx-filename-extension": 0,
    "react/prop-types": 1
  },
  "plugins": [
    "html",
    "jsx-a11y",
    "react"
  ]
}